.modal-dialog{
  position: absolute;
  left:0%;
  right: 0%;
}
.modal-title{
  text-align: center;
}
.modal-footer{
  justify-content: center;
}
.btn-secondary{
  background-color: #2196f3 !important;
}
.close{
  color: #2196f3 !important;
}
