<div class="container marginTop">
  <h2>List of upcoming launches</h2>
  <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" *ngFor="let launch of launchesUpcomning; let i = index">
        <!--Card-->
        <div class="card">

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">{{launch.mission_name}}</h4>
            <!--Text-->
            <p class="card-text">
              <span class="bold">Date </span> : {{launch.launch_date_unix | date:"MM/dd/yyyy 'at' h:mma"}} <br>
              <span class="bold">Launch site </span> : {{launch.launch_site.site_name_long}} <br>
              <span class="bold">Rocket name </span> : {{launch.rocket.rocket_name}}
            </p>
            <!--<a class="btn btn-primary waves-light" mdbWavesEffect>Button</a>-->
          </div>

        </div>
      </div>
    </div>
  </div>

  <h2>List of past launches</h2>
  <br>
  <div class="row">
    <div class="col-md-4" *ngFor="let launch of pageOfItems; let i = index">
      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbWavesEffect>
          <img [src]="launch.links.mission_patch" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
            <div class="mask"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">{{launch.mission_name}}</h4>


          <!--Text-->
          <p class="card-text">
            <span *ngIf="launch.launch_success">
              <span class="btn-sm btn-success">
                <i class="fa fa-check"> </i> &nbsp; <span>Launch </span> </span> <br>
            </span>
            <span *ngIf="!launch.launch_success">
              <span class="btn-sm btn-danger">
                <i class="fa fa-close"> </i>  &nbsp; <span>Launch </span> </span>  <br>
            </span>

            <br>

            <span *ngIf="launch.core_reuse">
              <span class="btn-sm btn-success">
                <i class="fa fa-check"> </i> &nbsp; <span> Core reuse </span> </span> <br>
            </span>
            <span *ngIf="!launch.core_reuse">
              <span class="btn-sm btn-danger">
                <i class="fa fa-close"> </i>  &nbsp; <span> Core reuse </span> </span>  <br>
            </span>
            <br>

            <span class="bold">Date </span> : {{launch.launch_date_unix | date:"MM/dd/yyyy 'at' h:mma"}} <br>
            <span class="bold">Launch site </span> : {{launch.launch_site.site_name_long}} <br>
            <span class="bold">Rocket name </span> : {{launch.rocket.rocket_name}}</p>
          <!--<a class="btn btn-primary waves-light" mdbWavesEffect>Button</a>-->
        </div>
      </div>
    </div>

    <div class="container-fluid flex-center">
        <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
    </div>

  </div>
</div>
