<countdown-timer class="btn btn-elegant" [end]="nextLaunch.launch_date_utc | date:'yyyy-MM-dd hh:mm:ss'"></countdown-timer> <br>
<span class="bold">Date </span> : {{nextLaunch.launch_date_utc | date:"MM/dd/yyyy 'at' h:mma"}} <br>
<span class="bold">Launch site </span> : {{nextLaunch.launch_site.site_name_long}} <br>
<span class="bold">Rocket name </span> : {{nextLaunch.rocket.rocket_name}} <br>
<p class="marginTop">
  SpaceX designs, manufactures and launches advanced rockets and spacecraft. The company was founded in 2002 to
  revolutionize space technology, with the ultimate goal of enabling people to live on other planets.
  <br>
  <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <!--First slide-->
    <mdb-slide>
      <div class="view">
        <img class=" "
             src="http://www.spacex.com/sites/spacex/files/styles/media_gallery_large/public/first_reflight_-_06_dsc04633.jpg?itok=flZlfk2i"
             alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">TEAM IN MC GREGOR TX LOWERS THE ROCKET TO BE RE TESTED</h3>
        <p>FIRST RE-FLIGHT. APRIL 12, 2017</p>
      </div>
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
        <div class="view">
          <img class="d-block w-100"
               src="http://www.spacex.com/sites/spacex/files/styles/media_gallery_large/public/39a_12_crs-10_nwramp.jpg?itok=UGxjC6LR"
               alt="Second slide">
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">FALCON 9 AND DRAGON LAUNCH FROM LAUNCH COMPLEX 39 A</h3>
          <p>39A LAUNCH. APRIL 12, 2017</p>
        </div>
      </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
      <div class="view">
        <img class="d-block w-100"
             src="http://www.spacex.com/sites/spacex/files/styles/media_gallery_large/public/first_reflight_-_04_first_stage_return5.jpg?itok=qVrMzZ7H"
             alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">FALCON 9 AND DRONESHIP OF COURSE I STILL LOVE YOU BACK AT PORT</h3>
        <p>FIRST RE-FLIGHT, APRIL 12 2017</p>
      </div>
    </mdb-slide>
    <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
<br>
</p>